/*
    Theme Name: techmunchies
    Theme URI: https://techmunchies.net/
    Description: techmunchies site theme
    Author: Mario Lopez
    Author URI: https://techmunchies.net
    Version: 1.0
    .
    All rights reserved.
    .
*/
body {
    background-image: url(images/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #2e3234;
    font-family: 'Quicksand', Helvetica, sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
}
a::selection,
p::selection,
span::selection {
  background: #92a7b1;
}
.content {
    top: 10vh;
    padding: 0 10vw;
    position: absolute;
    text-align: center;
    width: 100%;
}
.content > p {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin: 0 5px;
    position: relative;
}
.content > p:first-of-type {
    color: #fff;
    letter-spacing: 2px;
    position: relative;
    text-transform: uppercase;
}
.site-name {
    height: 86px;
    margin: 0 auto 10px;
    max-width: 440px;
    position: relative;
}
.pic-info {
    bottom: 15px;
    left: 15px;
    position: absolute;
}
.info-container {
    background-color: #02bdda;
    border-radius: 16px;
    color: #fff;
    cursor: default;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    position: relative;
    text-align: center;
    width: 30px;
}
.info-container:hover {
    background-color: #00a4c1;
}
.info-popover {
    position: absolute;
    bottom: 38px;
    left: 80px;
    padding: 3px 8px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    visibility: hidden;
    background-color: #000;
    background-color: rgba(0,0,0,.7);
    border-radius: 3px;
    opacity: 0;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: left;
}
.info-popover-visible {
  opacity: 1;
  visibility: visible;
}
.info-popover > span {
    display: block;
    margin-bottom: 5px;
}
.info-popover > .label {
    margin: 5px 3px 0 3px;
    color: #c4c4c4;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}
.info-popover > .answer {
    margin: 0 3px 5px 3px;
}
.info-popover a {
    color: #6494bf;
}
.info-popover a:hover {
    color: #3c5973;
    text-decoration: none;
}

.footer {
    bottom: 15px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    right: 0;
    left: 0;
    width: 143px;
    margin: 0 auto;
}
.footer > p {
    letter-spacing: 1.5px;
    margin: 0;
    text-transform: uppercase;
}

/* Media Queries */
/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 500px) {
    body {
        background-image: url(images/background-mobile.jpg);
        height: 100vh;
    }
    .site-name {
        margin-bottom: 0px;
    }
}

/* Tablets (portrait and landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1100px) {
    body {
        background-image: url(images/background-tablet.jpg);
    }
}
